
area {
    outline-color: #C1121F;
}

img{
    height: 500px;
    max-width: 100%;
    width: 100%;
 
}

.popUP{
    position: absolute;
    display: flex;
    width: 50%;
    height: 50%;
    background-color: azure;
}



